/* For styling across all the pages on the platform */

body {
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.card {
    width: 350px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}

.input-group-text {
    cursor: pointer;
}